/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26-Jan-2020, 16:07:06
    Author     : george
*/

#content{
    width: 940px;
    margin: 0 auto;
    border: 1px solid appworkspace;
    padding: 15px;
    background-color: whitesmoke;
    min-height: 600px;
}
#menu{
    float: left;
    background-color: lightblue;
    border-radius: 10px;
    width: 100%;
    padding-bottom: 15px;
}
#menu li{
    float: left;
    margin-right: 10px;
    list-style: none;
    background-color: lightgoldenrodyellow;
    padding: 10px;
    border-radius: 10px;
}
#menu li:hover{
    background-color: lightsalmon;
}
a {
    text-decoration: none;
}
p {
    color: black;  
}
#body{
    width: 100%;
    clear: both;
}
.item{
    width:300px;
    text-align:center;
    display:block;
    margin-left: 10px;
    float:left;
}
img{
    width: 300px;
    border: 1px solid;
}
img:hover{
    opacity: .60;
    cursor: pointer;
}
td{
    text-align: center;
}
td:hover{
    color: white;
    background-color: black;
    cursor: pointer;
}